/* NewPost.css */

/* Container styling */
.new-post-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Title input styling */
.new-post-title-input {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

/* Submit button container */
.new-post-submit-btn-container {
    text-align: center;
    margin-top: 20px;
}

/* Submit button styling */
.new-post-submit-btn {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.new-post-submit-btn:hover {
    background-color: #0056b3;
}